@page
@model OldBarom.Web.Principal.Areas.Identity.Pages.Account.Profile
@{
    Layout = "_UserConfig";
}

<div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0 ">
    <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
        <h1 class="h2 pt-xl-1 pb-3">Account Details</h1>

        <!-- Basic info -->
        <h2 class="h5 text-primary mb-4">Basic info</h2>
        <form class="needs-validation border-bottom pb-3 pb-lg-4" novalidate>
            <div class="row pb-2">
                <div class="col-sm-6 mb-4">
                    <label for="fn" class="form-label fs-base">First name</label>
                    <input type="text" id="fn" class="form-control form-control-lg" value="@Model.Data.Name" required>
                    <div class="invalid-feedback">Please enter your first name!</div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="sn" class="form-label fs-base">Second name</label>
                    <input type="text" id="sn" class="form-control form-control-lg" value="@Model.Data.SecondName" required>
                    <div class="invalid-feedback">Please enter your second name!</div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="email" class="form-label fs-base">Email address</label>
                    <input type="email" id="email" class="form-control form-control-lg" value="@Model.Data.Email" required>
                    <div class="invalid-feedback">Please provide a valid email address!</div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="phone" class="form-label fs-base">Phone <small class="text-muted">(optional)</small></label>
                    <input type="text" id="phone" class="form-control form-control-lg" data-format='{"numericOnly": true, "delimiters": ["+1 ", " ", " "], "blocks": [0, 3, 3, 2]}' placeholder="+1 ___ ___ __", value="@Model.Data.PhoneNumber">
                </div>
                <div class="col-12 mb-4">
                    <label for="bio" class="form-label fs-base">Bio <small class="text-muted">(optional)</small></label>
                    <textarea id="bio" class="form-control form-control-lg" rows="4" placeholder="Add a short bio..." >@Model.Data.Bio</textarea>
                </div>
            </div>
            <div class="d-flex mb-3">
                <button type="reset" class="btn btn-secondary me-3">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>

        <!-- Address -->
        <h2 class="h5 text-primary pt-1 pt-lg-3 my-4">Address</h2>
        <form class="needs-validation border-bottom pb-2 pb-lg-4" novalidate>
            <div class="row pb-2">
                <div class="col-sm-6 mb-4">
                    <label for="country" class="form-label fs-base">Country</label>
                    <select id="country" class="form-select form-select-lg" required>
                        <option value="" disabled>Choose country</option>
                        @* <option selected>@Model.Data.Country.Name</option> *@
                    </select>
                    <div class="invalid-feedback">Please choose your country!</div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="state" class="form-label fs-base">State</label>
                    <select id="state" class="form-select form-select-lg" required>
                        <option value="" disabled>Choose state</option>
                        @* <option selected>@Model.Data.ContryState.Name</option> *@
                    </select>
                    <div class="invalid-feedback">Please choose your state!</div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="city" class="form-label fs-base">City</label>
                    <select id="city" class="form-select form-select-lg" required>
                        <option value="" disabled>Choose city</option>
                        @*
                        <option selected>@Model.Data.Address.City.Name</option> 
                        *@
                    </select>
                    <div class="invalid-feedback">Please choose your city!</div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="zip" class="form-label fs-base">ZIP code</label>
                    <input type="text" id="zip" class="form-control form-control-lg" value="132456784" required>
                    <div class="invalid-feedback">Please enter your ZIP code!</div>
                </div>
            </div>
            <div class="d-flex mb-3">
                <button type="reset" class="btn btn-secondary me-3">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>

        <!-- Delete account -->
        <h2 class="h5 text-primary pt-1 pt-lg-3 mt-4">Delete account</h2>
        <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>
        <div class="form-check mb-4">
            <input type="checkbox" id="delete-account" class="form-check-input">
            <label for="delete-account" class="form-check-label fs-base">Yes, I want to delete my account</label>
        </div>
        <button type="button" class="btn btn-danger">Delete</button>
    </div>
</div>
